/* Colors */                                        
:root {
  --color-primary: #9741eb; /* dark purple */
  --color-primary-light: #e6cdff; /* light purple */
  --color-primary-dark: #5e14a7; /* darker purple */
  --color-secondary: #ce35e7; /* light purple */
  --color-accent: #ff9358; /* orange */
  --color-accent-dark: #ff6c1b; /* dark orange */
  --color-base-lightest: #ffffff; /* white */
  --color-base-lighter: #f6f6f6; /* off white */
  --color-base-light: #c5c5c5; /* light gray */
  --color-base-dark: #3c3c3c; /* gray */
  --color-base-darker: #343434; /* dark gray */
  --color-base-darkest: #000000; /* black */
}

/* Base */
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-primary-dark);
}
a:hover {
  background: linear-gradient(to right, var(--color-accent-dark), var(--color-accent), var(--color-secondary), var(--color-primary));
  background: linear-gradient(to right,var(--color-primary-dark),var(--color-accent-dark));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.alert {
  border: 2px solid var(--color-accent-dark);
  background-color: var(--color-accent);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 2vw;
}
.help {
  color: var(--color-base-dark);
}
form {
  max-width: 300px;
  margin: 70px auto;
  padding: 2vw;
  background-color: var(--color-base-lightest);
  border-radius: 3px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}
input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  background-color: var(--color-primary-light);
  outline: none;
  margin-bottom: 2vw;
}
input:active,
input:focus {
  border: 2px solid var(--color-primary-dark);
  background-color: var(--color-base-lightest);
}
input[type=submit] {
  background-color: var(--color-primary-dark);
  color: var(--color-base-lightest);
  cursor: pointer;
}
main {
  padding: 2vw;
}
.logged-out {
  background-image: linear-gradient(to right,var(--color-primary-dark),var(--color-accent-dark));
}
#login-intro {
  text-align: center;
  margin-bottom: 2vw;
}
#login-intro h1 {
  margin: 5px;
}
