{% extends "../layouts/public.html" %}

{% block content %}
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>

<form action="/signup" method="post">

  <div id="login-intro">
    <img src="/img/gopher.svg" />
    <h1>Sign up</h1>
    <div class="help">Already have an account? <a href="/">Login</a></div>
  </div>

  <label for="name">Name</label>
  <input id="name" name="name" type="text" value="{{ user.Name }}" required />

  <label for="email">Email</label>
  <input id="email" name="email" type="email" value="{{ user.Email }}" required />

  <label for="password">Password</label>
  <input id="password" name="password" type="password" required />

  <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>

  <input type="submit" value="Sign up">

</form>
{% endblock %}
